body {
  background-color: linen;
}
h1 {
  color: midnightblue;
  margin: 10px;
  font-size: 300%;
}
h3 {
  color: midnightblue;
  margin: 10px;
  font-size: 160%;
}
h4 {
  color: midnightblue;
  margin: 10px;
  font-size: 120%;
}
h5 {
  color: midnightblue;
  margin: 10px;
  font-size: 110%;
}
p {
  color: darkslategray;
  margin: 10px;
}
span {
    display: block;
    margin: 10px;
    color: darkslategray;
}
a {
    display: block;
    margin: 10px;
}
.inline-block {
    display: inline;
}
.w3-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; /* full height */
}
.main-page {
    margin-left: 15%; /* same as sidebar width */
    padding: 1rem;
}
.w3-sidebar a {
    font-size: 120%;
    color: midnightblue;
}

